body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Luckiest Guy", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-dark {
  background-color: #f49d1a !important ;
}

.nav-link {
  font-weight: bold;
  color: crimson;
}
.card {
  box-shadow: 2px 5px 52px -10px rgba(0, 0, 0, 0.25);
  border: none;
}
.card-text {
  text-align: justify;
  font-size: 15px;
  font-weight: 200;
}
